<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IWasHere.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IWasHere.MySettings>
            <setting name="eventid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkinserver" serializeAs="String">
                <value>http://check-in.fluxcess</value>
            </setting>
            <setting name="actionid" serializeAs="String">
                <value>Keynote1</value>
            </setting>
            <setting name="onoffline" serializeAs="String">
                <value>online</value>
            </setting>
            <setting name="httpusername" serializeAs="String">
                <value />
            </setting>
            <setting name="httppassword" serializeAs="String">
                <value />
            </setting>
            <setting name="bgcolor" serializeAs="String">
                <value>636363</value>
            </setting>
            <setting name="bgpic" serializeAs="String">
                <value />
            </setting>
            <setting name="forecolor" serializeAs="String">
                <value>ffffff</value>
            </setting>
            <setting name="qrcodestyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="actiontitle" serializeAs="String">
                <value>Action Title</value>
            </setting>
            <setting name="adminurl" serializeAs="String">
                <value>http://admin.fluxcess</value>
            </setting>
            <setting name="adminurlusername" serializeAs="String">
                <value />
            </setting>
            <setting name="adminurlpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="popupbackgroundcolor" serializeAs="String">
                <value>E5262626</value>
            </setting>
            <setting name="labelcontentThankyou" serializeAs="String">
                <value>Herzlich Willkommen,</value>
            </setting>
            <setting name="popupforegroundcolor" serializeAs="String">
                <value>FFFFFFFF</value>
            </setting>
            <setting name="checkinsearchfieldname" serializeAs="String">
                <value>guest_id</value>
            </setting>
            <setting name="applicationmode" serializeAs="String">
                <value>in</value>
            </setting>
        </IWasHere.MySettings>
    </userSettings>
</configuration>